<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dobot</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/solid.css" integrity="sha384-Tv5i09RULyHKMwX0E8wJUqSOaXlyu3SQxORObAI08iUwIalMmN5L6AvlPX2LMoSE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/regular.css" integrity="sha384-e7wK18mMVsIpE/BDLrCQ99c7gROAxr9czDzslePcAHgCLGCRidxq1mrNCLVF2oaj" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 100px">
        <div class="col-lg-12">
            <h1 class="text-center">Real Time Crypto Currency Price Tracker</h1>
        </div>
        <div class="row justify-content-center" style="margin-top: 100px;">
            {% for humanized_symbol, data in change_data.items %}
                <div class="col-lg-4 text-center">
                    <h3>{{ humanized_symbol }}</h3>
                    {% if data.change > 0.00 %}
                        <h4 id="{{ data.symbol }}" style="color: green">
                            {{ data.price }}
                            <i class="fas fa-caret-up" style="color: green"></i>
                        </h4>
                    {% elif data.change < 0.00 %}
                        <h4 id="{{ data.symbol }}" style="color: red">
                            {{ data.price }} <i class="fas fa-caret-down" style="color: red"></i>
                        </h4>
                    {% elif data.change == 0.00 %}
                        <h4 id="{{ data.symbol }}" style="color: black">
                            {{ data.price }}
                        </h4>
                    {% endif %}
                    <h4>Change:</h4>
                    <h5><span id="{{ data.symbol }}_change_value">
                        {% if data.change > 0.00 %}
                            +{{ data.change }}$ (+{{ data.change_ratio }}%)
                        {% else %}
                            {{ data.change }}$ ({{ data.change_ratio }}%)
                        {% endif %}
                    </span></h5>
                </div>
            {% endfor %}
            <div style="margin-top: 50px;">
                <h3 class="text-center">Change Graph</h3>
                <div class="row justify-content-center">
                    <div class="text-center" style="margin-bottom: 20px">
                        Dobot is synced with <a href="https://www.binance.com/" style="text-decoration: none;">binance.com</a><br>
                        <button class="btn btn-success">
                            <span class="spinner-grow spinner-grow-sm"></span>
                            Streaming...
                      </button>
                    </div>
                    <canvas id="myChart" height="20vh" width="80vw"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</body>

<script type="text/javascript">
    const data = {
      labels: [],
      datasets: [{
        label: 'BTC Instantaneous Percental Changes',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [],
      }]
    };

    const config = {
        type: 'line',
        data: data,
        options: {
            scales: {
                x: {
                  title: {
                      display: true,
                      text: "Datetime",
                      font: {
                          size: 15
                      }
                  }
                },
                y: {
                    title: {
                        display: true,
                        text: "Change (%)",
                        font: {
                            size: 15
                      }
                    },
                    ticks: {
                        callback: function (value, index, values) {
                            return "%" + value;
                        }
                    }
                }
            }
        }
    }

    const myChart = new Chart(
    document.getElementById('myChart'),
        config
    );

    function addData(chart, label, data) {
        if (chart.data.labels.length > 50){
                chart.data.labels.shift()
            }
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            if (dataset.data.length > 50){
                dataset.data.shift()
            }
            dataset.data.push(data);
        });
        chart.update();
    }

    let ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
    let socket = new WebSocket(ws_scheme + "://" + window.location.host + "/ws/main_consumer/coin_stream/");
    var previous_data = null;
    socket.onmessage = function (event) {
        let data = JSON.parse(event.data);
        let current_price = data.message["current_price"]
        let symbol = data.message["symbol"]
        let change_value = data.message["change_value"]
        let change_ratio = data.message["change_ratio"]
        let created = data.message["created"]
        let symbol_element = document.getElementById(symbol)
        let change_element = document.getElementById(symbol + "_change_value")

        if (change_value > 0.00){
            change_element.innerHTML = "+" + String(change_value) + "$" + " " + String(`(+${change_ratio}%)`)
            symbol_element.innerHTML = String(current_price) + " " + '<i class="fas fa-caret-up" style="color: green"></i>'
            symbol_element.style.color = "green"
        } else if (change_value < 0.00) {
            change_element.innerHTML = String(change_value) + "$" + " " + String(`(${change_ratio}%)`)
            symbol_element.innerHTML = String(current_price) + " " + '<i class="fas fa-caret-down" style="color: red"></i>'
            symbol_element.style.color = "red"
        } else if (change_value === 0.00) {
            change_element.innerText = String(change_value) + "$" + " " + String(`(${change_ratio}%)`)
            symbol_element.innerHTML = String(current_price)
            symbol_element.style.color = "black"
        } else {
            change_element.innerText = String(change_value) + "$" + " " + String(`(${change_ratio}%)`)
            symbol_element.innerHTML = String(current_price)
            symbol_element.style.color = "black"
        }

        if (change_value !== previous_data && symbol === "BTCUSDT"){
            addData(myChart, created, parseFloat(change_ratio))
        }

        previous_data = change_value
    }
    socket.onclose = function (event){
        console.log("connection closed")
    }

    socket.onerror = function (event){
        console.log("connection error")
    }
</script>
</html>